* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'PT Serif', serif;
}

body {
    background: rgb(250,240,230);
    color: black;
    overflow: hidden;
    overflow-y: scroll;
}