.footer {
    width: 100vw;
    height: 4rem;
    background-color: rgb(248, 235, 217);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    color: black;
}